name: Deploy Backend
on:
  push:
    tags:
      - "v*"
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build \
            -t ghcr.io/${{ github.repository_owner }}/upt-sistema-backend:${{ github.ref_name }} \
            -t ghcr.io/${{ github.repository_owner }}/upt-sistema-backend:latest \
            .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/upt-sistema-backend:${{ github.ref_name }}
          docker push ghcr.io/${{ github.repository_owner }}/upt-sistema-backend:latest
